[Desktop Entry]
Comment[it]=Visualizza il contenuto del cestino
Encoding=UTF-8
Icon=user-trash-full
EmptyIcon=user-trash
Name[it]=Cestino
Name=Cestino
OnlyShowIn=KDE;
Type=Link
URL[$e]=trash:/
